@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto&display=swap');
:root {
  --background-gradiant: linear-gradient(180deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
  --main-color: #00c9a7;
  --main-color-dark: #4d8076;
  --main-color-light: #c4fcef;
  --secondary-color: #845ec2;
  --secondary-color-dark: #3e207c;
  --secondary-color-light: #b39cd0;
  --white: #ffffff;
  --dark: #232830;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.section-container {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-image: var(--background-gradiant);
}
.units-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  /* grid-template-rows: auto 1fr auto; */
  width: 650px;
  border-radius: 8px;
  padding: 20px 0;
  background-color: var(--white);
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2.5rem;
  color: var(--main-color-dark);
}
.subtitle {
  justify-self: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--main-color);
}

.form {
  display: flex;
  flex-direction: row;
  justify-self: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 8px;
}
.parciales {
  flex-direction: row;
  justify-self: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.parciales input {
  width: 20%;
}
.margin {
  margin-right: 8px;
}
.form > * {
  margin-top: 8px;
}
.form input {
  align-self: center;
}
.form-title {
  align-self: center;
  text-transform: uppercase;
}
.label {
  font-size: 1.6rem;
  color: var(--dark);
  cursor: pointer;
}
.form-input {
  background-color: var(--main-color-light);
  font-size: 1.6rem;
  border-radius: 5px;
  padding: 8px;
  border: none;
  font-family: 'Roboto', sans-serif;
}
.result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.label-result {
  margin: 5px 0;
  padding: 5px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--main-color);
  border: solid var(--dark) 1px;
  cursor: text;
}
.btn {
  border: none;
  background-color: var(--main-color);
  color: var(--white);
  padding: 15px 10px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.btn-primary {
  align-self: center;
  background-color: var(--secondary-color);
  width: 100%;
  transition: all 1s ease;
}
.btn-primary:hover {
  background-color: var(--secondary-color-dark);
}
.noselect {
  user-select: none;
}
.linea {
  margin: 15px 0;
  background-color: var(--dark);
  width: 92%;
  height: 1px;
}
@media (max-width: 670px) {
}
